.principal {
  height: 100vh;

  .response-block {
    width: 50%;
    height: 120px;
    position: absolute;
    left: 25%;
    top: 10px;
    transition: 0.3s all;
    border-radius: 10px;
  }

  .response-block-inactive {
    width: 50%;
    height: 120px;
    position: absolute;
    left: 25%;
    top: -120px;
    transition: 0.3s all;
    border-radius: 10px;
  }

  .container {
    .titulo {
      h1 {
        margin-left: -3rem;
        transition: 0.4s all;
        font-weight: 600;
        font-size: 72px;
        cursor: pointer;

        &:hover {
          margin-left: 0;
        }
      }
    }
  }
}
