<div class="principal bg-warning d-flex align-items-center">
  <div
    [ngClass]="
      responseIsActive
        ? 'response-block bg-dark d-flex justify-content-center align-items-center'
        : 'response-block-inactive'
    "
  >
    <h2 class="text-warning">{{ fiboNumber }} {{ fiboText }}</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="titulo">
          <h1>Fibonacci !!!</h1>
        </div>
      </div>

      <div class="col-6">
        <div class="contenedor">
          <calculation></calculation>
        </div>
      </div>
    </div>
  </div>
</div>
