<div class="calculation">
  <h2>Ingrese un Número</h2>
  <form [formGroup]="fibonacciForm">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span
          class="input-group-text bg-dark text-warning"
          id="inputGroup-sizing-lg"
          >#</span
        >
      </div>
      <input type="number" class="form-control" formControlName="fiboNumber" />
    </div>

    <button
      class="btn btn-dark text-white"
      type="submit"
      (click)="validateFibonacciNumber()"
      [disabled]="fibonacciForm.invalid"
    >
      Verificar
    </button>
  </form>
</div>
